version: '3'

x-common-environment:
  &common-environment
  AWS_ACCESS_KEY_ID:
  AWS_S3_REGION_NAME:
  AWS_SECRET_ACCESS_KEY:
  AWS_STORAGE_BUCKET_NAME:
  DATABASE_URL: postgis://wazimap_ng:wazimap_ng@db/wazimap_ng
  DJANGO_CONN_MAX_AGE: 0
  DJANGO_DEBUG: ${DJANGO_DEBUG:-True}
  DJANGO_DEFAULT_FILE_STORAGE: ${DJANGO_DEFAULT_FILE_STORAGE:-django.core.files.storage.FileSystemStorage}
  DJANGO_SECRET_KEY: notsosecret
  DJANGO_Q_SYNC:
  EMAIL_BACKEND: django.core.mail.backends.console.EmailBackend
  ENVIRONMENT_NAME: Dev
  REDIS_URL: redis://redis:6379/
  WERKZEUG_DEBUG_PIN: "off"

services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  db:
    image: kartoza/postgis:12.0
    ports:
      - "5432:5432"
    volumes:
      - "wazimap-data:/var/lib/postgresql/"
    environment:
      - POSTGRES_DBNAME=wazimap_ng
      - POSTGRES_USER=wazimap_ng
      - POSTGRES_PASS=wazimap_ng
      - POSTGRES_MULTIPLE_EXTENSIONS=postgis,pg_trgm
    stop_grace_period: 10s

  web:
    build: .
    command: python manage.py runserver_plus 0.0.0.0:8000
    depends_on:
     - db
     - redis
    ports:
      - "8000:8000"
    volumes:
      - ./:/app/
      - ./scripts:/scripts/
    environment:
      <<: *common-environment
  worker:
    build: .
    command: /app/scripts/django/django_q.sh
    depends_on:
     - db
     - redis
    volumes:
      - ./:/app/
      - ./scripts:/scripts/
    environment:
      <<: *common-environment

  selenium:
    image: selenium/standalone-chrome:98.0.4758.102
    ports:
      - "4444:4444"
      - "5900:5900"
      - "7900:7900"

volumes:
  wazimap-data:
