version: '3'

services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
  db:
    image: kartoza/postgis:12.0
    ports:
      - "5432:5432"
    volumes:
      - "wazimap-data:/var/lib/postgresql/"
    environment:
      - POSTGRES_DBNAME=wazimap_ng
      - POSTGRES_USER=wazimap_ng
      - POSTGRES_PASS=wazimap_ng
      - POSTGRES_MULTIPLE_EXTENSIONS=postgis,pg_trgm
    stop_grace_period: 10s
    container_name: wazimap-ng_db_1
  web:
    build: .
    command: /app/scripts/django/web.sh
    depends_on:
     - db
    ports:
      - "8000:8000"
    env_file:
      - ./config/django/django.env
    volumes:
      - ./:/app/
      - ./scripts:/scripts/
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - DJANGO_DEFAULT_FILE_STORAGE
      - AWS_STORAGE_BUCKET_NAME
      - AWS_S3_REGION_NAME
      - DATABASE_URL
      - DJANGO_CONFIGURATION
  queue:
    build: .
    command: /app/scripts/django/django_q.sh
    depends_on:
     - db
    env_file:
      - ./config/django/django.env
    volumes:
      - ./:/app/
      - ./scripts:/scripts/
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - DJANGO_DEFAULT_FILE_STORAGE
      - AWS_STORAGE_BUCKET_NAME
      - AWS_S3_REGION_NAME
      - DATABASE_URL
      - DJANGO_CONFIGURATION
volumes:
  wazimap-data:
