<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ subject }}</title>
  </head>
  <body>
    Hello {{user.username}},

    {% if task.success %}
    <p>Data extraction process for {{indicator.name}} is finished successfully.</p>
    {% else %}
    <p>Data extraction process {{indicator.name}} has failed.</p>
    {% endif %}
    <p>Please checkout <a href="">{{task.id}}</a> for further details of the process.</p>

    <p>Thanks,<br /> Openup Team</p>
  </body>
</html>
