.permission_widget{
	width: 500px;
    max-height: 300px;
    overflow: scroll;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.permission_widget table {
	width: 400px;
	max-height: 200px;
	overflow: scroll;
}

.permission_widget .widget_body{
	max-height: 200px;
    overflow: scroll;
}

.hidden{
	display: none;
}

.permission_widget .row{
    display: flex;
    text-align: center;
}

.permission_widget .header{
    font-weight: 600;
}

.col-4{
    width: 40% !important;
}

.col-2{
    width: 20% !important;
}

.col-12{
    width: 100% !important;
}

.separator{
    min-height: 10px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
}

#permission-widget {
    background-color: #eae9e9;
    border-bottom: 1px solid #cecece;
    padding: 10px 0;
    margin-bottom: 10px;
}

.permission_widget .last {
    margin-bottom: 15px;
}