.card{
	width: 340px;
    min-height: 200px;
    border: 1px solid lightgrey;
    margin: 20px;
    padding: 0px;
    border-radius: 5px;
    margin-left: 200px;
    overflow: scroll;
}

.widget_header{
	background-color: lightgrey;
    text-align: center;
    padding: 10px;
}

.permission_widget h4{
	margin: 0px;
    height: 15px;
    padding: 0px;
}

.permission_widget ul:before{
    content:attr(aria-label);
    font-size:100%;
    font-weight:bold;
    margin-left:-15px;
}

.permission_widget ul {
	margin-left: 10px !important;
	margin: 10px 0;
}

.permission_widget ul>li {
	margin: 3px 0;
	
}

.permission_widget ul>li.border {
	border-bottom: 1px solid lightgrey; 
}

.permission_widget ul>li>.add:hover {
	cursor: pointer;
}

.permission_widget ul>li>span {
	float: right;
}

.permission_widget table {
	width: 400px;
	max-height: 200px;
	overflow: scroll;
}

.permission_widget .widget_body{
	max-height: 200px;
    overflow: scroll;
}