.sortable { list-style-type: none; margin: 0 !important; padding: 0 !important; width: 60%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
.sortable li span { position: absolute; margin-left: -1.3em; }
.sortable_widget { display: flex; }