{% extends 'admin/base.html' %}
{% load template_tags %}
{% load notifications_tags %}
{% load static %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="/static/css/dropmic.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/all.css">
	<link rel="stylesheet" type="text/css" href="/static/css/notifications.css">
	<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
	<script type="text/javascript" src="/static/js/dropmic.min.js"></script>
	<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
	<script src="/static/js/notification.js"></script>
  <script type="text/javascript">
			$(document).ready(function($) {
				var dropmic = new Dropmic(document.querySelector('#notification-box'), {
				  onOpen: function() {
				     mark_notifications_as_viewed();
				  },
				  onClose: function() {
						 mark_notifications_as_viewed();
				     remove_viewed_icons();
					},
			  });

			});

    </script>

    <style type="text/css">
    	#result_list div.drag{
    		background: url(/static/img/drag.png) no-repeat center !important;
    	}
    </style>
{% endblock %}

{% block userlinks %}
	{% include "admin/notification_box.html" %}
	{{ block.super }}
{% endblock %}
