{% extends 'admin/base.html' %}
{% load static %}
{% load template_tags %}
{% load notifications_tags %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/dropmic.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/notifications.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"/>

<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/js/dropmic.min.js"></script>
<script src="/static/notifications/notify.js"></script>
<script src="/static/js/notification.js"></script>
<script type="text/javascript">
    $(document).ready(function ($) {
        new Dropmic(document.querySelector('#notification-box'), {
            onOpen: function () {
                mark_notifications_as_viewed();
            },
            onClose: function () {
                mark_notifications_as_viewed();
                remove_viewed_icons();
            },
        });

    });
</script>

<style type="text/css">
    #result_list div.drag {
        background: url(/static/img/drag.png) no-repeat center !important;
    }
</style>
{% endblock %}

{% block userlinks %}
{% include "admin/notification_box.html" %}
{{ block.super }}
{% endblock %}
