{% extends 'admin/base.html' %}
{% load template_tags %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="/static/css/toastr.min.css">
	<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
	<script type="text/javascript" src="/static/js/toastr.min.js"></script>
    <script type="text/javascript">

    	var notifications = {{ request.session |get_notifications|safe }};
    	if(notifications){
    		notify(notifications);
    	}

    	var task_in_progress = {{ request.session |get_task_list|safe }};
    	setInterval(function(){
    		if (task_in_progress.length){
    			$.ajax({
	                url: "{% url 'notifications' %}",
	                success: function(data) {
	                    let notifications = data.notifications;
	                    if(notifications.length){
	                    	notify(notifications);
	                    }
	                    task_in_progress = data.task_list;
	                }
	            })
			}
		}, 10000)
			

	    function notify(notifications){
	    	toastr.options = {
			  "closeButton": true,
			  "newestOnTop": true,
			  "progressBar": true,
			  "positionClass": "toast-top-right",
			  "preventDuplicates": false,
			  "timeOut": 0,
			  "extendedTimeOut": 0
			}

			$(document).ready(function($) {
				$.each(notifications, function(index, notification){
					toastr[notification.type](notification.message);
				});
			} );
	    }
    </script>

    <style type="text/css">
    	#result_list div.drag{
    		background: url(/static/img/drag.png) no-repeat center !important;
    	}
    </style>
{% endblock %}
