{% load custom_tags %}

{% if label == "Choropleth method" %}
<ul>
	{% if "absolute_value" in choices %}
		<li>Absolute value: This method displays the exact value as provided in the data.</li>
	{% endif %}
	{% if "sibling" in choices %}
		<li>Sibling: This method calculates the proportion of a subindicator in relation to its sibling geographies, e.g. 30% of all the women in the Western Cape live in Cape Town.</li>
	{% endif %}

	{% if "subindicator" in choices or "subindicators" in choices %}
		<li>Subindicator: This method uses the proportion of a subindicator for the current geography, e.g. 45% of people in this geography are female.</li>
	{% endif %}
</ul>
{% endif %}

{% if label == "Enable linear scrubber" %}
<ul>
	<li>For time series and other continuous variables. Allow the user to easily step back and forward in the variable range</li>
	<li class="alert-warning {% if obj and obj.enable_linear_scrubber %} show {% else %} hidden {% endif %}">
		Categories will be evenly spaced on a linear axis.
		Ensure categories represent regular intervals and no categories are missing when using line charts.
		Also <a href="{{obj|get_subindicator_link}}" target="_blank">ensure your categories are ordered correctly</a>
 </li>
</ul>
{% endif %}
