{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}
{% block object-tools %}
    <div class="module aligned">
        <div>
        <label class="required" for="add_method">Choose Adding Method</label>
        <select id="add_method">
            <option value="">----------------</option>
            <option value="1">Upload Indicator Director</option>
            <option value="2">Create from Dataset </option>
        </select>
    </div>

    </div>
    {{ block.super }}
{% endblock %}