{% load notifications_tags %}

{% register_notify_callbacks callbacks='custom_fetch_api_data' refresh_period=15 %}

{% notifications_unread as unread_count %}
<div class="dropmic" id="notification-box" data-dropmic-direction="bottom-middle">
  <button class="{% if unread_count %} has-badge {% endif %}" data-count="{{ unread_count }}" data-dropmic-btn>
    <i class="fas fa-bell"></i>
  </button>
  <div class="dropmic-menu" aria-hidden="true">
    <div class="dropmic-menu__custom">
      <span>Notifications (<span id="total-count">{{ request.user.notifications.active.count }}</span>)</span>
      <span class="mark_as_read">Clear Notifications</span>
    </div>
    <div class="notification-body">
      <div class="in-progress">
        <div class="task_in_progress heading_block">
          <p>Task in Progress (<span id="in-progress-count"></span>)</p>
        </div>
        <ul class="dropmic-menu__list" role="menu">
        </ul>
      </div>
      <div class="completed">
        <div class="heading_block">
          <p>Other Notifications (<span id="completed-count"></span>)</p>
        </div>
        <ul class="dropmic-menu__list" role="menu">
        </ul>
      </div>
    </div>
  </div>
</div>