{% load notifications_tags %}

{% register_notify_callbacks callbacks='custom_fetch_api_data' refresh_period=15 %}


{% notifications_unread as unread_count %}
<div class="dropmic" id="notification-box" data-dropmic-direction="bottom-middle">
  <button class="{% if unread_count %} has-badge {% endif %}" data-count="{{ unread_count }}" data-dropmic-btn>
    <i class="fas fa-bell"></i>
  </button>
  <div class="dropmic-menu" aria-hidden="true">
    <div class="dropmic-menu__custom">
      <span>Notifications</span>
      <span class="mark_as_read">Clear Notifications</span>
    </div>
    <div class="notification-body">
      <div class="in-progress">
        <div class="task_in_progress heading_block">
          <p>Task in Progress</p>
        </div>
        <ul class="dropmic-menu__list" role="menu">
          {% for notification in  request.user.notifications.unread %}
            {% if notification.level == "in_progress" %}
                {% include "admin/subtemplate/notification_msg.html" %}
            {% endif %}
          {% empty %}
            <li class="no_task">No Task in progress right now</li>
          {% endfor %}
        </ul>
      </div>
      <div class="completed">
        <div class="heading_block">
          <p>Notifications (<span id="complete-count">{{ request.user.notifications.active.count }}</span>)</p>
        </div>
        <ul class="dropmic-menu__list" role="menu">
          {% for notification in request.user.notifications.active %}
            {% if notification.level != "in_progress" %}
                {% include "admin/subtemplate/notification_msg.html" %}
            {% endif %}
          {% empty %}
            <li class="no_task">No New Notification</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>