name: Test

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: docker-compose run --rm web python wait_for_postgres.py
      - name: Run tests
        run: docker-compose run --rm -e DJANGO_CONFIGURATION=Test web pytest /app/tests

        # Dev environment smoke test
      - name: Migrate schema
        run: docker-compose run --rm web python manage.py migrate
      - name: Load demo data fixture
        run: docker-compose run --rm web python manage.py loaddata demodata.json
      - name: Start server
        run: docker-compose up -d
      - name: Check that the server has a profile
        run: wget --retry-connrefused --waitretry=1 --read-timeout=10 --timeout=10 --tries=10 -O-  "http://localhost:8000/api/v1/profiles/1/" | grep "Demo"
